Repository ayais12210-hub/rork-linguamate-ai-language-tutor.: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{js,jsx,cjs,mjs}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Update backend/security-headers.ts
  backend/security-headers.ts
Due: eslint --fix --max-warnings=0, prettier --write

Refactor: Improve AI reviewer debug and error handling
  .github/ai-reviewer/README.md
  .github/ai-reviewer/debug.mjs
  .github/ai-reviewer/review.mjs
  .github/workflows/ci.yml
  AI_REVIEW_DEBUG_IMPLEMENTATION.md
Due: eslint --fix --max-warnings=0, prettier --write

Refactor: Consolidate and optimize CI/CD workflows
  .github/workflows/ci-main.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/eas-builds.yml
  .github/workflows/security-enhanced.yml
  .github/workflows/status-badges.yml
  CI-CD-README.md
  playwright.a11y.config.ts
  playwright.config.ts
  scripts/compute-score.mjs
Due: eslint --fix --max-warnings=0, prettier --write

feat: Integrate Gitleaks for secret scanning
  .github/workflows/gitleaks.yml
  .github/workflows/security.yml
  .gitleaks.toml
  .lintstagedrc.json
  README.md
  docs/GITLEAKS_SETUP.md
  gitleaks.tar.gz
  package.json
Due: prettier --write

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: prettier --write

Update .github/ai-reviewer/review.mjs
  .github/ai-reviewer/review.mjs
Due: eslint --fix --max-warnings=0, prettier --write

Update .github/workflows/ci-main.yml
  .github/workflows/ci-main.yml
Due: prettier --write

Update .github/workflows/ci-optimized.yml
  .github/workflows/ci-optimized.yml
Due: prettier --write

Update CI-CD-README.md
  CI-CD-README.md
Due: prettier --write

Update scripts/compute-score.mjs
  scripts/compute-score.mjs
Due: eslint --fix --max-warnings=0, prettier --write

Update .github/workflows/security.yml
  .github/workflows/security.yml
Due: prettier --write

Refactor: Pass GITHUB_TOKEN as token input to Gitleaks
  .github/workflows/gitleaks.yml
  .github/workflows/security-enhanced.yml
  .github/workflows/security.yml
Due: prettier --write

Configure Linguist for TypeScript and ignore generated files
  .gitattributes
Due: none

Refactor: Update CI workflows and remove legacy files
  .github/workflows/ai-pr-reviewer.yml
  .github/workflows/app-ci.yml
  .github/workflows/ci-full-scan.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/eas-preview.yml
  .github/workflows/eas-release.yml
  .github/workflows/lighthouse.yml
  .github/workflows/quality.yml
  .github/workflows/security-enhanced.yml
  .github/workflows/security.yml
  .github/workflows/status-badges.yml
Due: prettier --write

Remove GITHUB_TOKEN from Gitleaks workflow
  .github/workflows/gitleaks.yml
  .github/workflows/security-enhanced.yml
  .github/workflows/security.yml
Due: prettier --write

feat: Add github token to gitleaks actions
  .github/workflows/gitleaks.yml
  .github/workflows/security-enhanced.yml
  .github/workflows/security.yml
Due: prettier --write

feat: Add workflows for testing without API keys
  .github/workflows/test-eas-builds-dry-run.yml
  .github/workflows/test-security-workflows-dry-run.yml
  .github/workflows/test-workflows-without-api-keys.yml
  docs/TESTING_WORKFLOWS_WITHOUT_API_KEYS.md
  scripts/test-workflows-locally.sh
Due: prettier --write

Update .github/workflows/test-workflows-without-api-keys.yml
  .github/workflows/test-workflows-without-api-keys.yml
Due: prettier --write

Update scripts/test-workflows-locally.sh
  scripts/test-workflows-locally.sh
Due: none

fix: Improve testing infrastructure and resolve TypeScript errors
  TESTING_IMPROVEMENTS.md
  bun.lock
  lib/__tests__/secure-key-manager.test.ts
  package.json
  tests/config/jest.setup.ts
  tsconfig.json
  types/global.d.ts
Due: eslint --fix --max-warnings=0, prettier --write

Refactor: Optimize CI pipeline and add contract tests
  .github/BRANCH_PROTECTION.md
  .github/release-drafter.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/release-notes.yml
  .github/workflows/semgrep.yml
  TEST_IMPROVEMENTS_SUMMARY.md
  __tests__/api.contract.test.ts
  __tests__/translator.integration.test.tsx
  coverage/cobertura-coverage.xml
  package-lock.json
  scripts/test-runner.sh
  tests/e2e/accessibility.spec.ts
  tests/e2e/learn.spec.ts
  tests/e2e/performance.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update tests/e2e/performance.spec.ts
  tests/e2e/performance.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update tests/e2e/accessibility.spec.ts
  tests/e2e/accessibility.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update scripts/test-runner.sh
  scripts/test-runner.sh
Due: none

feat: Add SuperClaude integration for code quality
  .cursor/tasks/superclaude.yml
  .github/workflows/superclaude.yml
  docs/SUPERCLAUDE_INTEGRATION.md
Due: prettier --write

feat: Add SuperClaude CI workflow and task
  .cursor/tasks/superclaude.yml
  .github/workflows/superclaude.yml
Due: prettier --write

feat: Add SuperClaude integration for quality analysis and improvements
  .cursor/tasks/superclaude.yml
  .github/workflows/superclaude.yml
Due: prettier --write

Update .github/workflows/superclaude.yml
  .github/workflows/superclaude.yml
Due: prettier --write
