Repository ayais12210-hub/rork-linguamate-ai-language-tutor.: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

Update __tests__/regression/rn-text-node.test.tsx
  __tests__/regression/rn-text-node.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Refactor: Update Sentry SDK and dependencies
  app/lib/monitoring/sentry.client.ts
  backend/monitoring/sentry.ts
  package-lock.json
  package.json
Due: eslint --fix --max-warnings=0, prettier --write

chore(ci): add free AI contributor suite (Dependabot, Renovate, CodeQL, SonarCloud, reviewdog, Coverage, Prettier)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/eslint-reviewdog.yml
  .github/workflows/prettier.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/test-coverage.yml
  renovate.json
Due: prettier --write

feat: Add STT endpoint and improve testing setup
  .cursorrules
  .github/ISSUE_TEMPLATE/ai_task.yml
  .github/workflows/app-ci.yml
  .maestro/flows/translator.yml
  __tests__/useMicInput.test.ts
  agents/README.md
  agents/prompts/docs.md
  agents/prompts/engineer.md
  agents/prompts/manager.md
  agents/prompts/security.md
  agents/prompts/tester.md
  agents/tasks.yaml
  agents/templates/PR_TEMPLATE_AGENT.md
  babel.config.js
  backend/routes/stt.ts
  components/MicButton.tsx
  hooks/useMicInput.ts
  jest.config.ts
  lib/stt/index.ts
  lib/stt/provider.ts
  lib/stt/serverFallback.ts
  lib/stt/webSpeech.ts
  package-lock.json
  package.json
  tests/config/jest.setup.ts
  tests/config/polyfills.js
  tests/config/react-native-mock.js
  tests/msw/handlers.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Implement multi-agent workforce and STT
  CURSOR_MULTI_AGENT_SETUP_COMPLETE.md
  agents/QUICK_START.md
  agents/README.md
  agents/outbox/.gitkeep
Due: prettier --write

Update hooks/useAsync.ts
  hooks/useAsync.ts
Due: eslint --fix --max-warnings=0, prettier --write

Refactor: Update backend and dependencies
  .env
  README.md
  backend/hono.ts
  backend/security.ts
  backend/server.ts
  backend/trpc/create-context.ts
  backend/trpc/routes/analytics/analytics.ts
  backend/trpc/routes/auth/auth.ts
  backend/trpc/routes/chat/chat.ts
  backend/trpc/routes/example/hi/route.ts
  backend/trpc/routes/learn/learn.ts
  backend/trpc/routes/lessons/lessons.ts
  backend/trpc/routes/user/user.ts
  jest.config.ts
  package-lock.json
  package.json
Due: eslint --fix --max-warnings=0, prettier --write

feat: Enhance agent prompts and bootstrap system
  agents/BOOTSTRAP_COMPLETE.md
  agents/outbox/PLAN-2025-10-06-0000.md
  agents/prompts/docs.md
  agents/prompts/engineer.md
  agents/prompts/manager.md
  agents/prompts/security.md
  agents/prompts/tester.md
  agents/templates/PR_TEMPLATE_AGENT.md
Due: prettier --write

Update backend/security.ts
  backend/security.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update .env
  .env
Due: none

feat: Add comprehensive backend validation and security
  BACKEND_VALIDATION_COMPLETE.md
  backend/__tests__/stt.validation.test.ts
  backend/__tests__/validation.middleware.test.ts
  backend/middleware/validateRequest.ts
  backend/routes/stt.ts
  schemas/index.ts
  schemas/stt.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Implement comprehensive error handling and reporting
  .eslintrc.cjs
  .github/workflows/ci.yml
  __tests__/lib/errors/result.test.ts
  __tests__/lib/net/http.test.ts
  __tests__/lib/state/safeStorage.test.ts
  app/_layout.tsx
  components/boundaries/AppErrorBoundary.tsx
  components/boundaries/index.ts
  components/boundaries/withScreenBoundary.tsx
  components/examples/ErrorHandlingExample.tsx
  components/feedback/FormError.tsx
  components/feedback/InlineError.tsx
  components/feedback/ToastInfo.tsx
  components/feedback/index.ts
  docs/ERROR_HANDLING.md
  lib/errors/AppError.ts
  lib/errors/index.ts
  lib/errors/result.ts
  lib/net/http.ts
  lib/offline/index.ts
  lib/offline/netStatus.ts
  lib/offline/retryQueue.ts
  lib/state/safeStorage.ts
  lib/stt/enhancedSTT.ts
  lib/stt/index.ts
  lib/stt/provider.ts
  lib/validation/zodResolver.ts
  observability/telemetry.ts
  schemas/lesson.ts
  schemas/translate.ts
  schemas/user.ts
Due: eslint --fix --max-warnings=0, prettier --write

Refactor: Update ESLint, CI, and Zod error handling
  .eslintignore
  .eslintrc.cjs
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/semgrep.yml
  .semgrep/semgrep.yml
  CI_DIAGNOSIS.md
  __tests__/lib/errors/result.test.ts
  backend/__tests__/validation.middleware.test.ts
  backend/middleware/validateRequest.ts
  jest.config.ts
  lib/net/http.ts
  lib/state/safeStorage.ts
  lib/validation/zodResolver.ts
  package.json
  tests/config/fileMock.js
  tests/config/jest.setup.ts
  tests/config/styleMock.js
  tests/smoke/app-renders.test.tsx
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

Refactor: Update CI, ESLint, and Jest configurations
  .eslintignore
  .eslintrc.cjs
  .github/workflows/ci.yml
  .github/workflows/npm-audit.yml
  .github/workflows/quality.yml
  .github/workflows/semgrep.yml
  .semgrep/semgrep.yml
  CI_DIAGNOSIS.md
  __tests__/lib/state/safeStorage.test.ts
  __tests__/translator.unit.test.tsx
  __tests__/useMicInput.test.ts
  app/(tabs)/chat.tsx
  app/(tabs)/learn.tsx
  eslint.config.js
  package.json
  tests/config/jest.setup.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Due: prettier --write

Update .semgrep/semgrep.yml
  .semgrep/semgrep.yml
Due: prettier --write

Update tests/smoke/app-renders.test.tsx
  tests/smoke/app-renders.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Update eslint.config.js
  eslint.config.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: Implement production-ready features and optimizations
  .env.example
  IMPLEMENTATION_SUMMARY.md
  PR_SUMMARY.md
  QUICK_START.md
  UPGRADE_GUIDE.md
  app.json
  app/_layout.tsx
  app/providers/AnalyticsProvider.tsx
  app/providers/MonitoringProvider.tsx
  components/examples/I18nExample.tsx
  components/examples/NotificationsExample.tsx
  components/examples/PremiumFeatureExample.tsx
  components/examples/SpeechExample.tsx
  components/forms/Select.tsx
  eas.json
  features/subscriptions/revenuecat.ts
  hooks/useNotifications.ts
  hooks/usePremiumGate.ts
  hooks/useSpeech.ts
  hooks/useSpeechRecognition.ts
  lib/mmkv-storage.ts
  package-lock.json
  package.json
  src/i18n/index.ts
  src/i18n/locales/en.json
  src/i18n/locales/hi.json
  src/i18n/locales/pa.json
Due: eslint --fix --max-warnings=0, prettier --write

Update eas.json
  eas.json
Due: prettier --write

Update app.json
  app.json
Due: prettier --write

feat: Add AI PR reviewer workflow and script
  .github/ai-reviewer/README.md
  .github/ai-reviewer/review.mjs
  .github/workflows/ai-pr-reviewer.yml
Due: eslint --fix --max-warnings=0, prettier --write

Update .github/ai-reviewer/review.mjs
  .github/ai-reviewer/review.mjs
Due: eslint --fix --max-warnings=0, prettier --write

Refactor: Enhance linting and CI with new rules and workflows
  .eslintrc.cjs
  .github/workflows/ci-full-scan.yml
  .semgrep.yml
  package.json
Due: eslint --fix --max-warnings=0, prettier --write

Update .github/workflows/ci-full-scan.yml
  .github/workflows/ci-full-scan.yml
Due: prettier --write

Update app/providers/AnalyticsProvider.tsx
  app/providers/AnalyticsProvider.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Update hooks/useSpeech.ts
  hooks/useSpeech.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update hooks/useSpeechRecognition.ts
  hooks/useSpeechRecognition.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Configure Gitleaks for secret scanning
  .github/workflows/gitleaks.yml
  .gitleaks.toml
Due: prettier --write

feat: Configure Gitleaks for security scanning
  .github/workflows/gitleaks.yml
Due: prettier --write

feat: Configure Gitleaks for enhanced secret detection
  .github/workflows/gitleaks.yml
  .gitleaks.toml
Due: prettier --write

Update .gitleaks.toml
  .gitleaks.toml
Due: none

Update .github/workflows/gitleaks.yml
  .github/workflows/gitleaks.yml
Due: prettier --write

fix(security): stabilize Gitleaks/Semgrep SARIF uploads and permissions
  .github/workflows/gitleaks.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,cjs,mjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,cjs,mjs})) or (any of: *.{json,md,yml,yaml})
