Repository ayais12210-hub/rork-linguamate-ai-language-tutor.: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "**/*": [
    "gitleaks protect --staged --config .gitleaks.toml --verbose"
  ]
}

Fix: Update Jest config for ES module support
  docs/BE-REPORT.md
  jest.config.ts
  package.json
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Create linkto.env
  linkto.env
Due: gitleaks protect --staged --config .gitleaks.toml --verbose

chore(mcp): add no-key MCP servers (filesystem+http) with safe scopes
  .cursor/mcp.json
  .github/workflows/mcp-sanity.yml
  docs/mcp-tools.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat(mcp): add local filesystem/terminal/sqlite/docs servers (no secrets)
  .github/workflows/ci.yml
  CHANGELOG.md
  SECURITY.md
  data/dev.sqlite
  docs/DEVELOPER_GUIDE.md
  examples/mcp-demo.md
  jest.config.ts
  mcp/README.md
  mcp/config/mcp.config.json
  mcp/config/schema/mcp.config.schema.json
  mcp/dev-runner.js
  mcp/servers/docs/server.js
  mcp/servers/filesystem/server.js
  mcp/servers/sqlite/server.js
  mcp/servers/terminal/server.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Add local MCP stack for secure development
  PR_SUMMARY.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Add integration tests and documentation
  omni-mcp/PR_SUMMARY.md
  omni-mcp/apps/orchestrator/src/integration.test.ts
  omni-mcp/docs/INTEGRATION_TESTS.md
  omni-mcp/docs/REVIEWER_GUIDE.md
  omni-mcp/docs/SECURITY_CHECKLIST.md
  omni-mcp/package.json
  omni-mcp/servers/_TEMPLATE.yaml
  omni-mcp/servers/elevenlabs.yaml
  omni-mcp/servers/supabase.yaml
  omni-mcp/servers/zapier.yaml
  omni-mcp/vitest.integration.config.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Add new server integrations and update health check
  omni-mcp/.env.example
  omni-mcp/eslint.config.js
  omni-mcp/package.json
  omni-mcp/pnpm-lock.yaml
  omni-mcp/servers/adobe-express.yaml
  omni-mcp/servers/asana.yaml
  omni-mcp/servers/berry-rag.yaml
  omni-mcp/servers/context7.yaml
  omni-mcp/servers/deepseek-r1.yaml
  omni-mcp/servers/elevenlabs.yaml
  omni-mcp/servers/firecrawl.yaml
  omni-mcp/servers/grok.yaml
  omni-mcp/servers/notion.yaml
  omni-mcp/servers/playwright.yaml
  omni-mcp/servers/qwen-max.yaml
  omni-mcp/servers/sentry.yaml
  omni-mcp/servers/supabase.yaml
  omni-mcp/servers/v0.yaml
  omni-mcp/servers/zapier.yaml
  omri-mcp/scripts/health.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Add React 18 compatibility for expo-router
  package-lock.json
  package.json
  patches/expo-router-react18-compatibility.patch
  scripts/apply-react18-patch.sh
  src/polyfills/react-use-polyfill.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Add Omni-MCP documentation and PDR
  omni-mcp/docs/ARCHITECTURE.md
  omni-mcp/docs/DATA_FLOW.md
  omni-mcp/docs/PDR.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Add documentation for capability matrix and diagrams
  omni-mcp/docs/CAPABILITY_MATRIX.md
  omni-mcp/docs/DIAGRAMS.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Add new MCP server configurations and update README
  omni-mcp/.env.example
  omni-mcp/README.md
  omni-mcp/servers/adobe-commerce.yaml
  omni-mcp/servers/backlog.yaml
  omni-mcp/servers/fast-intercom.yaml
  omni-mcp/servers/gemini-cloud-assist.yaml
  omni-mcp/servers/gemini.yaml
  omni-mcp/servers/globalping.yaml
  omni-mcp/servers/hfspace.yaml
  omni-mcp/servers/integration-app.yaml
  omni-mcp/servers/minimax.yaml
  omni-mcp/servers/neon.yaml
  omni-mcp/servers/openrouter.yaml
  omni-mcp/servers/perplexity.yaml
  omni-mcp/servers/ppl-modelcontext.yaml
  omni-mcp/servers/windsor.yaml
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update omri-mcp/scripts/health.ts
  omri-mcp/scripts/health.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update omni-mcp/apps/orchestrator/src/integration.test.ts
  omni-mcp/apps/orchestrator/src/integration.test.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update omni-mcp/apps/orchestrator/src/config.test.ts
  omni-mcp/apps/orchestrator/src/config.test.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update omni-mcp/apps/orchestrator/src/guards/circuitBreaker.ts
  omni-mcp/apps/orchestrator/src/guards/circuitBreaker.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update package.json
  package.json
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update src/polyfills/react-use-polyfill.ts
  src/polyfills/react-use-polyfill.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Refactor: Improve server configuration and health checks
  omni-mcp/.env.example
  omni-mcp/.github/workflows/ci.yml
  omni-mcp/Dockerfile
  omni-mcp/README.md
  omni-mcp/apps/orchestrator/src/bootstrap.ts
  omni-mcp/apps/orchestrator/src/config/envSchemas.test.ts
  omni-mcp/apps/orchestrator/src/config/envSchemas.ts
  omni-mcp/apps/orchestrator/src/config/schema.ts
  omni-mcp/apps/orchestrator/src/guards/circuitBreaker.ts
  omni-mcp/apps/orchestrator/src/guards/rateLimiter.ts
  omni-mcp/apps/orchestrator/src/health.ts
  omni-mcp/apps/orchestrator/src/observability/audit.ts
  omni-mcp/apps/orchestrator/src/observability/logger.ts
  omni-mcp/apps/orchestrator/src/orchestrator.smoke.test.ts
  omni-mcp/apps/orchestrator/src/probes/httpProbe.test.ts
  omni-mcp/apps/orchestrator/src/probes/httpProbe.ts
  omni-mcp/apps/orchestrator/src/probes/stdioProbe.test.ts
  omni-mcp/apps/orchestrator/src/probes/stdioProbe.ts
  omni-mcp/apps/orchestrator/src/registry.ts
  omni-mcp/apps/orchestrator/src/security/egress.ts
  omni-mcp/docker-compose.yml
  omni-mcp/nginx.conf
  omni-mcp/package.json
  omni-mcp/pnpm-lock.yaml
  omni-mcp/scripts/generate-dotenv.ts
  omni-mcp/servers/elevenlabs.yaml
  omni-mcp/servers/firecrawl.yaml
  omni-mcp/servers/gemini-cloud-assist.yaml
  omni-mcp/servers/grok.yaml
  omni-mcp/servers/openrouter.yaml
  omni-mcp/servers/playwright.yaml
  omni-mcp/servers/qwen-max.yaml
  omni-mcp/servers/sentry.yaml
  omni-mcp/servers/supabase.yaml
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat(core): active probes, per-server overrides, env schemas + dotenv generator, egress allow-list, audit, OTEL/Sentry hooks, Docker, Husky, CI
  omni-mcp/.github/workflows/ci.yml
  omni-mcp/.husky/pre-commit
  omni-mcp/Dockerfile
  omni-mcp/apps/orchestrator/src/bootstrap.ts
  omni-mcp/apps/orchestrator/src/config/envSchemas.test.ts
  omni-mcp/apps/orchestrator/src/config/envSchemas.ts
  omni-mcp/apps/orchestrator/src/config/schema.ts
  omni-mcp/apps/orchestrator/src/guards/authScopes.ts
  omni-mcp/apps/orchestrator/src/health.ts
  omni-mcp/apps/orchestrator/src/observability/audit.ts
  omni-mcp/apps/orchestrator/src/observability/otel.ts
  omni-mcp/apps/orchestrator/src/observability/sentry.ts
  omni-mcp/apps/orchestrator/src/orchestrator.smoke.test.ts
  omni-mcp/apps/orchestrator/src/probes/httpProbe.test.ts
  omni-mcp/apps/orchestrator/src/probes/httpProbe.ts
  omni-mcp/apps/orchestrator/src/probes/probes.test.ts
  omni-mcp/apps/orchestrator/src/probes/stdioProbe.test.ts
  omni-mcp/apps/orchestrator/src/probes/stdioProbe.ts
  omni-mcp/apps/orchestrator/src/registry.ts
  omni-mcp/apps/orchestrator/src/security/egress.ts
  omni-mcp/docker-compose.yml
  omni-mcp/nginx.conf
  omni-mcp/package.json
  omni-mcp/pnpm-lock.yaml
  omni-mcp/servers/elevenlabs.yaml
  omni-mcp/servers/firecrawl.yaml
  omni-mcp/servers/gemini-cloud-assist.yaml
  omni-mcp/servers/grok.yaml
  omni-mcp/servers/openrouter.yaml
  omni-mcp/servers/playwright.yaml
  omni-mcp/servers/qwen-max.yaml
  omni-mcp/servers/sentry.yaml
  omni-mcp/servers/supabase.yaml
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update omni-mcp/apps/orchestrator/src/security/egress.ts
  omni-mcp/apps/orchestrator/src/security/egress.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update omni-mcp/apps/orchestrator/src/config/envSchemas.ts
  omni-mcp/apps/orchestrator/src/config/envSchemas.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat(registry,e2e): manifest-driven server scaffolder, mass registry YAMLs, dummy MCP, E2E harness + CI job
  omni-mcp/.env.example
  omni-mcp/.github/workflows/ci.yml
  omni-mcp/README.md
  omni-mcp/apps/orchestrator/src/bootstrap.ts
  omni-mcp/apps/orchestrator/src/config/envSchemas.ts
  omni-mcp/apps/orchestrator/src/health.ts
  omni-mcp/apps/orchestrator/src/registry.ts
  omni-mcp/config/default.yaml
  omni-mcp/package.json
  omni-mcp/scripts/scaffold-servers.ts
  omni-mcp/servers/a2a-gateway.yaml
  omni-mcp/servers/agentrpc.yaml
  omni-mcp/servers/aivis-speech.yaml
  omni-mcp/servers/allvoicelab.yaml
  omni-mcp/servers/audio-mcp.yaml
  omni-mcp/servers/audio-transcriber.yaml
  omni-mcp/servers/backlog-alt.yaml
  omni-mcp/servers/backlog-manager.yaml
  omni-mcp/servers/daisys.yaml
  omni-mcp/servers/dummy.yaml
  omni-mcp/servers/lara.yaml
  omni-mcp/servers/microsoft.yaml
  omni-mcp/servers/servers.manifest.json
  omni-mcp/servers/startup-framework.yaml
  omni-mcp/servers/translator-ai.yaml
  omni-mcp/servers/youtube-translate.yaml
  omni-mcp/tests/e2e/dummy-mcp.ts
  omni-mcp/tests/e2e/orchestrator.e2e.test.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

fix: include tests directory in tsconfig for linting
  omni-mcp/tsconfig.json
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat(docs,schemas,workflows): PRD + lifecycle schemas, registry validator, auto-generated README matrix, issue/PR templates, CI gates
  omni-mcp/.github/ISSUE_TEMPLATE/bug-report.yml
  omni-mcp/.github/ISSUE_TEMPLATE/feature-request.yml
  omni-mcp/.github/ISSUE_TEMPLATE/server-addition.yml
  omni-mcp/.github/pull_request_template.md
  omni-mcp/.github/workflows/ci.yml
  omni-mcp/Makefile
  omni-mcp/README.md
  omni-mcp/apps/orchestrator/src/config/prd.schema.ts
  omni-mcp/apps/orchestrator/src/workflow/lifecycle.schema.ts
  omni-mcp/docs/CHECKLIST.md
  omni-mcp/docs/PRD.md
  omni-mcp/docs/TODO.md
  omni-mcp/package.json
  omni-mcp/scripts/generate-registry-doc.ts
  omni-mcp/scripts/validate-registry.ts
  omni-mcp/servers/servers.manifest.json
  omni-mcp/tests/prd.schema.test.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Add Gherkin feature files for testing
  tests/gherkin/README.md
  tests/gherkin/accessibility.feature
  tests/gherkin/authentication.feature
  tests/gherkin/language-search.feature
  tests/gherkin/learning-modules.feature
  tests/gherkin/navigation.feature
  tests/gherkin/onboarding.feature
  tests/gherkin/performance.feature
  tests/gherkin/smoke-tests.feature
  tests/gherkin/translator.feature
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Add documentation for Linguamate features
  docs/README.md
  docs/how-to-chat-coach.md
  docs/how-to-learn-hub.md
  docs/how-to-lessons.md
  docs/how-to-login.md
  docs/how-to-onboarding.md
  docs/how-to-translator.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Implement comprehensive CI/CD and development workflows
  .github/workflows/linguamate-ci.yml
  .mcp/servers.json
  IMPLEMENTATION_COMPLETE.md
  Makefile
  README_INDEX.md
  docs/CONTENT_PIPELINE.md
  docs/PRD.md
  omni-mcp/schemas/api.ts
  omni-mcp/schemas/core.ts
  omni-mcp/scripts/simulate-speech.ts
  omni-mcp/scripts/validate-content.ts
  omni-mcp/workflows/content-pipeline.yml
  omni-mcp/workflows/health.yml
  omri-mcp/scripts/health.ts
  package.json
  scripts/make.sh
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update scripts/make.sh
  scripts/make.sh
Due: gitleaks protect --staged --config .gitleaks.toml --verbose

Update .github/workflows/linguamate-ci.yml
  .github/workflows/linguamate-ci.yml
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Refactor: Update README and add agent documentation
  agents/AGENT_COMMUNICATION.md
  agents/ARCHITECTURE.md
  agents/ERROR_HANDLING_AUTOMATION.md
  agents/IMPLEMENTATION_ROADMAP.md
  agents/MEMORY_SYSTEM.md
  agents/MONITORING_OBSERVABILITY.md
  agents/README.md
  agents/SETUP_GUIDE.md
  agents/TASK_MANAGEMENT.md
  agents/TOOLS_INTEGRATION.md
  agents/WORKFLOW_AUTOMATION.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Add advanced system components documentation
  agents/ADVANCED_AI_REASONING.md
  agents/ADVANCED_ANALYTICS_DASHBOARD.md
  agents/ADVANCED_PERSONALIZATION_ENGINE.md
  agents/ADVANCED_SECURITY_PRIVACY.md
  agents/DEVELOPER_TOOLS_API_ECOSYSTEM.md
  agents/MULTIMODAL_AI_INTEGRATION.md
  agents/PLUGIN_ARCHITECTURE.md
  agents/README.md
  agents/REAL_TIME_COLLABORATION.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Add Quantum-Inspired AI Algorithms documentation
  agents/EDGE_AI_DEPLOYMENT.md
  agents/EXPLAINABLE_AI_FRAMEWORK.md
  agents/FEDERATED_LEARNING_SYSTEM.md
  agents/MULTI_AGENT_REINFORCEMENT_LEARNING.md
  agents/NEURAL_ARCHITECTURE_SEARCH.md
  agents/QUANTUM_INSPIRED_AI_ALGORITHMS.md
  agents/README.md
  agents/SELF_SUPERVISED_LEARNING.md
  agents/VISION_TRANSFORMERS.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Integrate Cursor and GitHub tools for agent automation
  .cursor/mcp.json
  .github/workflows/agent-operations.yml
  agents/engineer_agent.py
  agents/manager_agent.py
  agents/tester_agent.py
  docs/CURSOR_GITHUB_TOOLS.md
  mcp.config.json
  mcp_servers/cursor_server.py
  mcp_servers/gitops_server.py
  package.json
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Add new agents and documentation
  README_AGENTS.md
  agents/communication_system.py
  agents/dashboard_system.py
  agents/docs_agent.py
  agents/error_handling_system.py
  agents/observability_system.py
  agents/security_agent.py
  package.json
  setup_agents.py
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Add advanced ML, learning, analytics, and multi-repo agents
  README_ADVANCED_FEATURES.md
  agents/advanced_analytics_system.py
  agents/agent_learning_system.py
  agents/ml_prioritization_system.py
  agents/multi_repository_system.py
  package.json
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose
