Repository ayais12210-hub/rork-linguamate-ai-language-tutor.: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "**/*": [
    "gitleaks protect --staged --config .gitleaks.toml --verbose"
  ]
}

Update .github/workflows/superclaude.yml
  .github/workflows/superclaude.yml
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Configure MCP servers and environment variables
  .cursor/mcp.json
  .env.example
  .mcp/README.md
  docs/mcp.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Configure MCP servers and environment variables
  .cursor/mcp.json
  .env.example
  .gitignore
  .mcp/README.md
  docs/mcp.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Configure Model Context Protocol (MCP) servers
  .cursor/mcp.json
  .env.example
  .github/workflows/mcp-sanity.yml
  .gitignore
  .mcp/README.md
  .mcp/eas-mcp-server/README.md
  .mcp/github-mcp-server/README.md
  .mcp/postgres-mcp-server/README.md
  .mcp/redis-mcp-server/README.md
  .mcp/revenuecat-mcp-server/README.md
  .mcp/sentry-mcp-server/README.md
  .mcp/stripe-mcp-server/README.md
  .mcp/vercel-mcp-server/README.md
  MCP_SETUP_SUMMARY.md
  docs/index.md
  docs/mcp-prompts.md
  docs/mcp.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update MCP_SETUP_SUMMARY.md
  MCP_SETUP_SUMMARY.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Refactor: Use npx for MCP servers and Node.js in CI
  .cursor/mcp.json
  .github/workflows/mcp-sanity.yml
  .mcp/README.md
  .mcp/github-mcp-server/README.md
  FIXES_APPLIED.md
  MCP_SETUP_SUMMARY.md
  docs/mcp.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Refactor: Improve error handling and config
  __tests__/error-boundary.test.tsx
  components/boundaries/AppErrorBoundary.tsx
  components/boundaries/withScreenBoundary.tsx
  eslint.config.cjs
  eslint.config.js
  lib/correlation-id.ts
  package.json
  tests/factories/user.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Refactor: Improve error handling and analytics tracking
  __tests__/error-boundary.test.tsx
  app/(tabs)/learn.tsx
  app/auth/forgot-password.tsx
  app/auth/signup.tsx
  app/providers/AnalyticsProvider.tsx
  backend/middleware/validateRequest.ts
  backend/routes/stt.ts
  backend/security-headers.ts
  components/AIQuiz.tsx
  components/PhonicsTrainer.tsx
  components/boundaries/AppErrorBoundary.tsx
  components/boundaries/withScreenBoundary.tsx
  hooks/useAsync.ts
  lib/correlation-id.ts
  lib/state/safeStorage.ts
  lib/stt/enhancedSTT.ts
  tests/factories/user.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Refactor: Consolidate security workflows and improve Gitleaks config
  .github/pull_request_template.md
  .github/workflows/secret-scan.yml
  .github/workflows/security.yml
  .gitleaks.toml
  .husky/pre-commit
  SECURITY.md
  docs/SECURE-CONTRIBUTING.md
  package.json
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Refactor: Improve tRPC error handling and fallback logic
  app/(tabs)/learn.tsx
  lib/trpc-utils.ts
  lib/trpc.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update app/(tabs)/learn.tsx
  app/(tabs)/learn.tsx
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update lib/trpc-utils.ts
  lib/trpc-utils.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Implement comprehensive speech features
  app/(tabs)/settings/speech.tsx
  backend/routes/stt.ts
  docs/SPEECH_FEATURES.md
  docs/SPEECH_QUICK_START.md
  hooks/__tests__/use-speech.test.ts
  hooks/use-speech.ts
  schemas/stt.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update hooks/use-speech.ts
  hooks/use-speech.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Checkpoint before follow-up message
  app/(tabs)/settings/speech.tsx
  hooks/use-speech.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Refactor: Memoize and useCallback for performance improvements
  app/(tabs)/settings/speech.tsx
  hooks/use-speech.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Fix: Ensure transcription text ends with punctuation
  backend/routes/stt.ts
  hooks/__tests__/use-speech.test.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Harden backend with security, CI, and docs
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
  backend/__tests__/security.integration.test.ts
  backend/hono.ts
  backend/middleware/errorHandler.ts
  backend/middleware/timeout.ts
  backend/validation/jwt.ts
  docs/BE-ARCH.md
  docs/BE-OPERATIONS.md
  docs/BE-PLAN.md
  docs/BE-REPORT.md
  docs/BE-SECURITY-CHECKLIST.md
  docs/BE-TEST-PLAN.md
  package.json
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Harden CORS, add timeout middleware, enhance health checks
  .env.example
  backend/hono.ts
  backend/middleware/timeout.ts
  backend/routes/health.ts
  docs/BE-ARCH.md
  docs/BE-IMPLEMENTATION-SUMMARY.md
  docs/BE-OPERATIONS.md
  docs/BE-PLAN.md
  docs/BE-REPORT.md
  docs/BE-SECURITY-CHECKLIST.md
  docs/BE-TEST-PLAN.md
  package.json
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Harden backend security and reliability
  .env.example
  .github/workflows/backend-ci.yml
  backend/__tests__/authRateLimit.test.ts
  backend/__tests__/circuit-breaker.test.ts
  backend/__tests__/log-redaction.test.ts
  backend/__tests__/retry.test.ts
  backend/__tests__/timeout.test.ts
  backend/config/env.ts
  backend/hono.ts
  backend/middleware/authRateLimit.ts
  backend/middleware/cors.ts
  backend/middleware/timeout.ts
  backend/routes/health.ts
  backend/utils/circuit-breaker.ts
  backend/utils/log-redaction.ts
  backend/utils/retry.ts
  backend/validation/jwt.ts
  docs/BE-ARCH.md
  docs/BE-OPERATIONS.md
  docs/BE-PLAN.md
  docs/BE-REPORT.md
  docs/BE-SECURITY-CHECKLIST.md
  docs/BE-TEST-PLAN.md
  package.json
  tsconfig.backend.json
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Refactor: Harden backend with improved reliability and security
  .env.example
  .github/workflows/backend-ci.yml
  backend/__tests__/health.info.test.ts
  backend/__tests__/toolkitProxy.failure.test.ts
  backend/__tests__/trpc.happy.invalid.test.ts
  backend/hono.ts
  backend/lib/http.ts
  backend/middleware/requestLogger.ts
  backend/routes/stt.ts
  backend/routes/toolkitProxy.ts
  docs/BE-ARCH.md
  docs/BE-OPERATIONS.md
  docs/BE-PLAN.md
  docs/BE-REPORT.md
  docs/BE-SECURITY-CHECKLIST.md
  docs/BE-TEST-PLAN.md
  package.json
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Refactor: Update README and add Gitleaks configuration
  .semgrep.yml
  LICENSE
  README.md
  coverage/cobertura-coverage.xml
  npm-audit-report.json
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Downgrade React to v18.3.1
  package-lock.json
  package.json
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

fix: add missing template field to release-drafter.yml
  .github/release-drafter.yml
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

fix(workflows): update EAS workflows to use global CLI installation
  .github/workflows/eas-preview.yml
  .github/workflows/eas-release.yml
  .github/workflows/test-eas-builds-dry-run.yml
  app.json
  bun.lock
  docs/EAS-REPORT.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

fix: resolve npm security audit vulnerabilities
  package-lock.json
  package.json
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Refactor: Use direct imports for CorrelationIdManager and update dependencies
  __tests__/correlation-id.test.ts
  __tests__/error-boundary.test.tsx
  __tests__/factories.test.ts
  app/(tabs)/learn.tsx
  app/(tabs)/settings/speech.tsx
  app/auth/forgot-password.tsx
  bun.lock
  tests/factories/user.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

feat: Implement MCP content ingestion pipeline
  .cursor/tasks/content-pipeline.yml
  .github/workflows/content-ingest.yml
  MCP_IMPLEMENTATION_SUMMARY.md
  MCP_SETUP_GUIDE.md
  README.md
  content/news/.gitkeep
  content/news/example_lesson.json
  mcp.config.json
  mcp_servers/gitops_server.py
  mcp_servers/ingest_server.py
  mcp_servers/requirements.txt
  mcp_servers/test_ingest.py
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

fix(ci): add GITHUB_TOKEN to Gitleaks workflow
  .github/workflows/gitleaks.yml
  .github/workflows/security-enhanced.yml
  .github/workflows/security.yml
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

fix(ci): add GITHUB_TOKEN to Gitleaks workflow
  .github/workflows/ci-optimized.yml
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Fix: Improve MCP configuration validation and documentation
  .env.example
  .github/workflows/mcp-sanity.yml
  docs/MCP-REPORT.md
  package.json
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

fix(tests): resolve quality gate failures
  __tests__/api.contract.test.ts
  docs/TEST-REPORT.md
  jest.config.ts
  lib/state/safeStorage.ts
  package.json
  pnpm-lock.yaml
  tests/config/expo-av-mock.js
  tests/config/expo-constants-mock.js
  tests/config/expo-speech-mock.js
  tests/config/expo-speech-recognition-mock.js
  tests/config/jest.setup.ts
  tests/config/lucide-mock.js
  tests/config/react-native-mock.js
  tests/config/react-native-svg-mock.js
  tests/utils/render.tsx
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Refactor: Update CI, dependencies, and configurations
  .env.example
  .eslintrc.cjs
  .github/workflows/quality.yml
  .github/workflows/superclaude.yml
  .github/workflows/test-eas-builds-dry-run.yml
  docs/BE-REPORT.md
  docs/CI-REPORT.md
  global.d.ts
  jest.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update package.json
  package.json
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update jest.config.ts
  jest.config.ts
Due: eslint --fix, prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Update .env.example
  .env.example
Due: gitleaks protect --staged --config .gitleaks.toml --verbose

Refactor: Install and verify pnpm in CI workflows
  .github/workflows/ci-full-scan.yml
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose

Refactor: Improve CI script matching and resilience
  .github/workflows/quality.yml
  docs/BE-REPORT.md
  docs/CI-REPORT.md
Due: prettier --write, gitleaks protect --staged --config .gitleaks.toml --verbose
